<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Quoting Dojo </title>
  </head>
  <body>
    <h1> Welcome to Quoting dojo </h1>
    <form action='/quotes' method ="post">
      <label for="name">Youre Name</label>
      <input type="text" name="name">
      <label for="quotes"Your Quote</label>
      <textarea col='5', row ='15'></textarea>
      <button>Add My Quote!</button>
      <button>Skip to Quotes!</button>
    </form>
  </body>
</html>
