<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Quotes for the dojo </title>
  </head>
  <body>
    <div id = "container">
      <h1> Here Are Some Awesome Quotes </h1>
      <div class= "quoters">
        <p><for   <p>
      </div>
    </div>
