<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> NEW CARS BUDDY </title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    <body>
        <form action ="" method="POST">
            Name of Car : <input type="text", name="car">
            Make of Car : <input type = "text", name="makez">
            Model of Car : <input type = "text", name="modelz">
            <input type = "submit", value="Add New Car">
        </form>
    </body>
</html>

