<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>New Otters</title>
</head>
<body>
<div id="row">
    <div class="panel panel-default">
      <div class="panel-heading">
         <h2>New Otter:</h2>
         <h4><a href="/">See other otters</a></h4>
      </div>
    </div>
    <div class="panel-body">
     <% if(typeof(errors) != 'undefined' ) { %>
        <% for (var x in errors) { %>
         <div class="alert alert-danger" role="alert"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <%= errors[x].message %></div>
         <% } %>
      <% } %>
    <form action="/" method="post">

        <p>
            <label for="name">Name:</label>
            <input type="text" name="name">
        </p>
        <p>
            <label for="age">Age:</label>
            <input type="integer" name="age">
        </p>
        <p>
            <label for="size">Size:</label>
            <select name="size">
            <option selected="selected" disabled=disabled>Size</option>
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
            </select>
        </p>
        <input type="submit" class="btn btn-default" value="Submit">
    </form>
    </div>
</div>
</body>
</html>
