<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8"
        <title> Survey Form </title>
    </head>
    <body>
        <div class = "container">
            <form action = "/users" method="post">
                <div class = "crass">
                    <label for="name">Name</label>
                    <input type="text" name="name">
                </div>
                <div class = "crass">
                    <label for ="loca">Dojo Location</label>
                    <input type="text" name="loca">
                </div>
                <div class = "crass">
                    <label for = "lang">Favorite Language</label>
                    <select>>
                        <option value ="CSS"></option>
                        <option value ="HTML"></option>
                        <option value ="MEAN"></option>
                        <option value ="Python"></option>
                    </select>
                </div>
                <div class = "crass">
                    <textarea row="10" cols="100">
                    </textarea>
                </div>
                <div class="crass">
                    <submit name="submit" value ="Submit Information">
            </form>
        </div>
    </body>
</html>
